.main_manu_header{
  font-size: 98%;
  text-align: left;
  list-style-type: none;
  padding: 0;
  width: 250px;
  margin: 0 2px;
  color:white;
  background-color:white;

  li:not(:last-child):after {
    color: #ccc;
    content: " | ";
    margin: 0 2px; 
  }
}