%h1= "このアプリについて"
%p GIVER_MUTUAlは、理学療法士として働いている僕が普段働きながらに出会う問題を少しでも改善しようと考えたアプリです。

%p 僕たちの仕事は患者様に対して治療を行い、少しでもより良い生活を手に入れてもらう為ではないでしょうか？

%p しかし、現実にはお金の為、自身の成績の為、病院の利益の為に必要性の低い治療に『時間』をかけています。

%p そこで使う『特に意味のない時間』を必要な患者様の治療に使う『本当に必要な時間』に換えたい。

%p GIVER_MUTUAlは『時間』に焦点を当てて、『悪い時間』から『良い時間』に換える為に、『時間』そのものに意味を持たせたくて作成しました。

%p それだけではなく、僕たち自身も幸せになる為に。自身が満たされてこそ他者を満たすことができるからです。

%p 僕は人生における幸せとは自身で成長を感じられること、他者に貢献できている実感だと信じています。

%p その為に必要な自己研鑽の『時間』をみんなで生みだして、成長して、患者様に貢献する『大切な時間』に換える。

%p GIVER_MUTUAlは、『本当に必要な時間』を自分から、同僚から、患者様からお互いに与え合う為のアプリです。